<a href="https://colab.research.google.com/github/joshuaidumijie/Hamoye-Internship-2020/blob/master/Simplicity_in_Complexity_by_Joshua_idumijie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Simplicity in Complexity

The Storytelling report is contained in a PDF copy, and although the code implementation is incorporated into this notebook, it is highlighted in the document submitted as well.

##Data Collection - Web Scrapping

The data was scrapped from the jumia and konga platform for smartphones. The BeautifulSoup library was used for this.

In [1]:
import requests as req #web client
from bs4 import BeautifulSoup #the used library

from requests import get

import pandas as pd
import numpy as np

from time import sleep
from random import randint

In [2]:
#For jumia url to scrap from 
url_jumia = "https://www.jumia.com.ng/smartphones/"
url_konga = "https://www.konga.com/category/phones-tablets-5294"

In [4]:
# converting the html to soup and then parsing it

soup_jumia = BeautifulSoup(jumia_phone.content)

In [ ]:
#downloading the html file from the url pages

jumia_phone = req.get(url_jumia)
print(soup_jumia.prettify())

It can be seen that the Konga website is protected from scrapping.

In [ ]:
full_price = []
full_details = []
full_review = []
full_review_total=[]

In [ ]:
#Since the details are in multiple pages

#for page 1
#https://www.jumia.com.ng/smartphones/?page=1
#for page 2
#https://www.jumia.com.ng/smartphones/?page=2
# and it goes on... this makes it easier to scrap through multiple pages

pages = np.arange(1, 11, 1)                             #The range of pages from 1 to 50

#the page loop
for page in pages:
  page = req.get("https://www.jumia.com.ng/smartphones/?page=" + str(page))   #The loop for the 50 pages

  soup = BeautifulSoup(page.text, 'html.parser')        #parsing the downloaded website
  info_jumia = soup.find_all("div",{"class":"info"})    #The destination of the required details
  sleep(randint(2,4))                                  #so we don't overload the server... scraping responsibly

for info in info_jumia:      #The new loop for our scrapping which  we tested in the previous codes
  phone_name = info.h3.text   #The full description
  full_details.append(phone_name)
  
  price_phone = info.find('div',class_='prc')   #the
  price_phone = (price_phone.text.replace('â‚¦', '').strip().replace(",",""))
  full_price.append(price_phone)
      #for the reviews
  reviews =  list(map(float,(info.find('div',class_='rev').text.replace('out of 5',"").strip().replace("(","").replace(')',"").split()))) if info.find('div',class_='rev') else [0,0] 
  full_review.append(reviews[0])
  full_review_total.append(reviews[1])

In [ ]:
len(full_price)

240

In [ ]:
len(full_details)

240

In [ ]:
len(full_review)

240

In [ ]:
len(full_review_total)

240

## Data Cleaning

In [ ]:
#pandas dataframe        
phones = pd.DataFrame({
'Phone_Name': full_details,
'Price': full_price,
'Ratings': full_review,
'Ratings_by': full_review_total
})

In [ ]:
phones.head(3)

,Phone_Name,Price,Ratings,Ratings_by
0,Samsung Galaxy S20 6.2-Inch (8GB 128GB ROM) An...,330000,0.0,0.0
1,Samsung Galaxy S20 6.2-Inch (8GB 128GB ROM) An...,330000,5.0,1.0
2,Apple IPhone 6 Plus 5.5'' 64GB 8MP IOS Smartph...,74005,3.3,17.0

In [ ]:
phones.tail(10)

,Phone_Name,Price,Ratings,Ratings_by
230,Apple IPhone 11 Dual Sim 6.1-Inch Liquid Retin...,309999,0.0,0.0
231,Oppo Reno 3 Pro-Dual-256GB ROM-8GB RAM-4G LTE-...,280000,0.0,0.0
232,,,0.0,0.0
233,,,0.0,0.0
234,,,0.0,0.0
235,,,0.0,0.0
236,,,0.0,0.0
237,,,0.0,0.0
238,,,0.0,0.0
239,,,0.0,0.0

In [ ]:
indexNames = phones[ phones['Ratings'] == 0.0 ].index

In [ ]:
phones.drop(indexNames , inplace=True)

In [ ]:
len(phones)

106

In [ ]:
phones.head(5)

,Phone_Name,Price,Ratings,Ratings_by
1,Samsung Galaxy S20 6.2-Inch (8GB 128GB ROM) An...,330000,5.0,1.0
2,Apple IPhone 6 Plus 5.5'' 64GB 8MP IOS Smartph...,74005,3.3,17.0
5,Gionee S10 LITE 5.2 Inch 4GB RAM 32GB ROM 16MP...,25900,4.0,1.0
11,"Tecno CAMON 12(CC7)-6.52"" CRYSTAL DOT NOTCH SC...",58000,4.4,72.0
12,Oukitel C15 Pro 6.1-Inch Android 9.0 Pie(3GB R...,30699,4.2,28.0

In [ ]:
phones.tail(5)

,Phone_Name,Price,Ratings,Ratings_by
220,Apple IPhone 8 Plus 64GB 5.5 Inch IOS Smartpho...,189900 - 228000,5.0,8.0
222,"Gionee S12 6.517-Inch HD (4GB RAM, 64GB ROM) A...",62060,4.1,11.0
223,Apple Refurbished IPhone 5C 8GB Green 4G LTE 4...,20300,4.5,2.0
224,"Nokia 5.3 - 6GB/64GB Memory, 6.55"" HD, Dual SI...",80300,4.7,10.0
225,"Samsung Galaxy Tab A 8.0"" (2019, WiFi + Cellul...",67300,4.5,23.0

In [ ]:
b

In [ ]:
top_ratings.reset_index(drop=True)

,Phone_Name,Price,Ratings,Ratings_by
0,Samsung Galaxy S20 6.2-Inch (8GB 128GB ROM) An...,330000,5.0,1.0
1,"Samsung Galaxy S8 - 5.8"" 4GB RAM + 64GB ROM - ...",97900,5.0,1.0
2,"Tecno POP 2F (B1F) 5.5"" Android 8.1, 16GB ROM ...",23490,5.0,1.0
3,Apple IPhone 8 Plus 64GB 5.5 Inch IOS Smartpho...,189900 - 228000,5.0,8.0
4,Apple IPhone 11 Pro Max 6.5'' Super Retina (4G...,549990,5.0,1.0
5,"Apple IPhone XS Max (RAM, 512GB ROM) IOS 12 (1...",530000,5.0,1.0
6,Apple IPhone 11 Pro Max 6.5-Inch Super Retina ...,590000,5.0,1.0
7,"Samsung Galaxy Note 9 6.4-Inch (6GB RAM, 128GB...",175800,5.0,1.0
8,"Apple IPhone 7 2GB + 32GB 4.7"" Finger Sensor 4...",84459,5.0,3.0
9,"Samsung Galaxy A11 6.4"" 13MP+5MP+2MP Camera, 2...",51990,5.0,2.0
10,Apple IPhone 4S 3.5 Inches 16GB GSM 8MP WIFI G...,15300,5.0,1.0
11,"Tecno Spark 5 (KD7H) 6.6"" HD+ (32GB, 2GB) 13MP...",52500,5.0,1.0
12,"Apple IPhone XS Max (4GB RAM, 256GB ROM) IOS 1...",385000,5.0,1.0
13,Apple IPhone 6 Plus 5.5'' 64GB 8MP IOS Smartph...,74050,5.0,2.0
14,XIAOMI Redmi Note 9 6.53 Inches 3GB RAM 64GB R...,76090,5.0,2.0
15,Samsung Galaxy S20 Plus (S20+) 6.7'' (8GB 128G...,329900,5.0,1.0
16,Apple IPhone 5S 16GB Smartphones 4G LTE Finger...,25500,5.0,1.0
17,Samsung Galaxy S20 6.2-Inch (8GB 128GB ROM) An...,330000,5.0,1.0
18,"Samsung Galaxy S8 - 5.8"" 4GB RAM + 64GB ROM - ...",97900,5.0,1.0
19,"Tecno POP 2F (B1F) 5.5"" Android 8.1, 16GB ROM ...",23490,5.0,1.0
20,Apple IPhone 8 Plus 64GB 5.5 Inch IOS Smartpho...,189900 - 228000,5.0,8.0

In [ ]:
top_ratings

,Phone_Name,Price,Ratings,Ratings_by
1,Samsung Galaxy S20 6.2-Inch (8GB 128GB ROM) An...,330000,5.0,1.0
18,"Samsung Galaxy S8 - 5.8"" 4GB RAM + 64GB ROM - ...",97900,5.0,1.0
21,"Tecno POP 2F (B1F) 5.5"" Android 8.1, 16GB ROM ...",23490,5.0,1.0
29,Apple IPhone 8 Plus 64GB 5.5 Inch IOS Smartpho...,189900 - 228000,5.0,8.0
56,Apple IPhone 11 Pro Max 6.5'' Super Retina (4G...,549990,5.0,1.0
61,"Apple IPhone XS Max (RAM, 512GB ROM) IOS 12 (1...",530000,5.0,1.0
63,Apple IPhone 11 Pro Max 6.5-Inch Super Retina ...,590000,5.0,1.0
77,"Samsung Galaxy Note 9 6.4-Inch (6GB RAM, 128GB...",175800,5.0,1.0
115,"Apple IPhone 7 2GB + 32GB 4.7"" Finger Sensor 4...",84459,5.0,3.0
147,"Samsung Galaxy A11 6.4"" 13MP+5MP+2MP Camera, 2...",51990,5.0,2.0
151,Apple IPhone 4S 3.5 Inches 16GB GSM 8MP WIFI G...,15300,5.0,1.0
154,"Tecno Spark 5 (KD7H) 6.6"" HD+ (32GB, 2GB) 13MP...",52500,5.0,1.0
157,"Apple IPhone XS Max (4GB RAM, 256GB ROM) IOS 1...",385000,5.0,1.0
164,Apple IPhone 6 Plus 5.5'' 64GB 8MP IOS Smartph...,74050,5.0,2.0
169,XIAOMI Redmi Note 9 6.53 Inches 3GB RAM 64GB R...,76090,5.0,2.0
173,Samsung Galaxy S20 Plus (S20+) 6.7'' (8GB 128G...,329900,5.0,1.0
183,Apple IPhone 5S 16GB Smartphones 4G LTE Finger...,25500,5.0,1.0
192,Samsung Galaxy S20 6.2-Inch (8GB 128GB ROM) An...,330000,5.0,1.0
209,"Samsung Galaxy S8 - 5.8"" 4GB RAM + 64GB ROM - ...",97900,5.0,1.0
212,"Tecno POP 2F (B1F) 5.5"" Android 8.1, 16GB ROM ...",23490,5.0,1.0
220,Apple IPhone 8 Plus 64GB 5.5 Inch IOS Smartpho...,189900 - 228000,5.0,8.0

In [ ]:
top_ratings_desired = phones[phones['Ratings']>=4.2]

In [ ]:
len(top_ratings_desired)

86

In [ ]:
top_ratings_desired

,Phone_Name,Price,Ratings,Ratings_by
1,Samsung Galaxy S20 6.2-Inch (8GB 128GB ROM) An...,330000,5.0,1.0
11,"Tecno CAMON 12(CC7)-6.52"" CRYSTAL DOT NOTCH SC...",58000,4.4,72.0
12,Oukitel C15 Pro 6.1-Inch Android 9.0 Pie(3GB R...,30699,4.2,28.0
14,Tecno Camon 15 - Dual - 64GB ROM - 4GB RAM - 4...,65400,4.5,8.0
18,"Samsung Galaxy S8 - 5.8"" 4GB RAM + 64GB ROM - ...",97900,5.0,1.0
...,...,...,...,...
219,"Infinix HOT 8 Lite(X650), 6.6- Inches (2GB RAM...",43600,4.8,6.0
220,Apple IPhone 8 Plus 64GB 5.5 Inch IOS Smartpho...,189900 - 228000,5.0,8.0
223,Apple Refurbished IPhone 5C 8GB Green 4G LTE 4...,20300,4.5,2.0
224,"Nokia 5.3 - 6GB/64GB Memory, 6.55"" HD, Dual SI...",80300,4.7,10.0
225,"Samsung Galaxy Tab A 8.0"" (2019, WiFi + Cellul...",67300,4.5,23.0

In [ ]:
phones.to_csv('joshua_phone.csv')

In [ ]:
df = pd.read_csv("C:/Users/JoshDGreat/Desktop/joshua_phone (1).csv")

In [ ]:
df.drop(["Unnamed: 0"],axis=1,inplace=True)

In [ ]:
df['Price'].sum()

11004567

In [ ]:
best_price_l = df[df['Price']>=30000]

In [ ]:
best_price = best_price_l[best_price_l["Price"]<= 60000]

In [ ]:
best_price = best_price[best_price['Ratings']>=4.5]

In [ ]:
best_price

,Phone_Name,Price,Ratings,Ratings_by
50,"Tecno Spark 4 (KC8) 6.52"" HD+ 2GB RAM + 32GB R...",43500,4.5,6.0
83,"Tecno Spark 4 (KC8) 6.52"" HD+ 2GB RAM + 32GB R...",43500,4.5,6.0
100,"Infinix HOT 8 Lite(X650), 6.6- Inches (2GB RAM...",43600,4.8,6.0
9,"Infinix HOT 8 Lite(X650), 6.6- Inches (2GB RAM...",43600,4.8,6.0
41,"Oukitel C18 Pro 6.55"" Android 9.0 (4GB RAM + 6...",47669,4.5,13.0
81,"Oukitel C18 Pro 6.55"" Android 9.0 (4GB RAM + 6...",47669,4.5,13.0
28,"Tecno Spark 5 (KD7H) 6.6"" HD+ 2GB RAM + 32GB R...",49700,4.6,5.0
42,"Tecno Spark 5 (KD7H) 6.6"" HD+ 2GB RAM + 32GB R...",49700,4.6,5.0
68,"Samsung Galaxy A10s 6.2-Inch (2GB RAM, 32GB RO...",49990,4.5,183.0
54,"Samsung Galaxy A10s 6.2-Inch (2GB RAM, 32GB RO...",49990,4.5,183.0
46,"Tecno Pouvoir 4 LC7 ROM 32GB+3GB RAM 7"" 13MP &...",51000,4.8,8.0
67,"Samsung Galaxy A11 6.4"" 13MP+5MP+2MP Camera, 2...",51990,5.0,2.0
73,"Tecno Spark 5 (KD7H) 6.6"" HD+ (32GB, 2GB) 13MP...",52500,5.0,1.0
32,"Samsung Galaxy M11 6.4-Inch (3GB, 32GB ROM) An...",53990,4.5,45.0
23,Apple IPhone 6s 4.7 Inch 16GB ROM+2GB-12MP+5MP...,55900,4.5,12.0
29,"Tecno Camon 15 Air (CD6) 6.6"" HD+ 3GB RAM+64GB...",58000,4.5,27.0
89,"Tecno Camon 15 Air (CD6) 6.6"" HD+ 3GB RAM+64GB...",58000,4.5,27.0
49,Tecno CAMON 12 PRO(CC9)-64GB ROM + 6GB RAM-6.4...,59000,4.6,86.0

,Phone_Name,Price,Ratings,Ratings_by
0,"Tecno POP 2F (B1F) 5.5"" Android 8.1, 16GB ROM ...",23490,5.0,1.0
1,"Infinix HOT 8 Lite(X650), 6.6- Inches (2GB RAM...",43600,4.8,6.0
2,Apple Refurbished IPhone 5C 8GB Green 4G LTE 4...,20300,4.5,2.0
3,Apple IPhone 6s 4.7 Inch 16GB ROM+2GB-12MP+5MP...,55900,4.5,12.0
4,"Tecno Spark 5 (KD7H) 6.6"" HD+ 2GB RAM + 32GB R...",49700,4.6,5.0
5,"Tecno Camon 15 Air (CD6) 6.6"" HD+ 3GB RAM+64GB...",58000,4.5,27.0
6,"Samsung Galaxy M11 6.4-Inch (3GB, 32GB ROM) An...",53990,4.5,45.0
7,"QUBO P19 ,5.5"" HD-screen,3GB+32GB,5200mAh Big ...",29900,4.5,16.0
8,"Oukitel C18 Pro 6.55"" Android 9.0 (4GB RAM + 6...",47669,4.5,13.0
9,"Tecno Spark 5 (KD7H) 6.6"" HD+ 2GB RAM + 32GB R...",49700,4.6,5.0
10,"Tecno Pouvoir 4 LC7 ROM 32GB+3GB RAM 7"" 13MP &...",51000,4.8,8.0
11,Tecno CAMON 12 PRO(CC9)-64GB ROM + 6GB RAM-6.4...,59000,4.6,86.0
12,"Tecno Spark 4 (KC8) 6.52"" HD+ 2GB RAM + 32GB R...",43500,4.5,6.0
13,"Samsung Galaxy A10s 6.2-Inch (2GB RAM, 32GB RO...",49990,4.5,183.0
14,"Itel P15 5.0"" HD Screen, 16GB ROM + 1GB RAM, A...",23390,4.7,28.0
15,"Samsung Galaxy A11 6.4"" 13MP+5MP+2MP Camera, 2...",51990,5.0,2.0
16,"Samsung Galaxy A10s 6.2-Inch (2GB RAM, 32GB RO...",49990,4.5,183.0
17,Apple IPhone 4S 3.5 Inches 16GB GSM 8MP WIFI G...,15300,5.0,1.0
18,"Tecno Spark 5 (KD7H) 6.6"" HD+ (32GB, 2GB) 13MP...",52500,5.0,1.0
19,"Oukitel C18 Pro 6.55"" Android 9.0 (4GB RAM + 6...",47669,4.5,13.0
20,"Tecno Spark 4 (KC8) 6.52"" HD+ 2GB RAM + 32GB R...",43500,4.5,6.0
21,"Tecno Camon 15 Air (CD6) 6.6"" HD+ 3GB RAM+64GB...",58000,4.5,27.0
22,Apple IPhone 5S 16GB Smartphones 4G LTE Finger...,25500,5.0,1.0
23,"Tecno POP 2F (B1F) 5.5"" Android 8.1, 16GB ROM ...",23490,5.0,1.0
24,"Infinix HOT 8 Lite(X650), 6.6- Inches (2GB RAM...",43600,4.8,6.0
25,Apple Refurbished IPhone 5C 8GB Green 4G LTE 4...,20300,4.5,2.0

##Descriptive Analysis

In [ ]:
df.sort_values(by=['Price'], inplace=True`

In [ ]:
best_price.duplicated().sum()

6

In [ ]:
best_price.drop_duplicates(inplace=True)

In [ ]:
best_price.reset_index(drop=True)

,Phone_Name,Price,Ratings,Ratings_by
0,"Tecno Spark 4 (KC8) 6.52"" HD+ 2GB RAM + 32GB R...",43500,4.5,6.0
1,"Infinix HOT 8 Lite(X650), 6.6- Inches (2GB RAM...",43600,4.8,6.0
2,"Oukitel C18 Pro 6.55"" Android 9.0 (4GB RAM + 6...",47669,4.5,13.0
3,"Tecno Spark 5 (KD7H) 6.6"" HD+ 2GB RAM + 32GB R...",49700,4.6,5.0
4,"Samsung Galaxy A10s 6.2-Inch (2GB RAM, 32GB RO...",49990,4.5,183.0
5,"Tecno Pouvoir 4 LC7 ROM 32GB+3GB RAM 7"" 13MP &...",51000,4.8,8.0
6,"Samsung Galaxy A11 6.4"" 13MP+5MP+2MP Camera, 2...",51990,5.0,2.0
7,"Tecno Spark 5 (KD7H) 6.6"" HD+ (32GB, 2GB) 13MP...",52500,5.0,1.0
8,"Samsung Galaxy M11 6.4-Inch (3GB, 32GB ROM) An...",53990,4.5,45.0
9,Apple IPhone 6s 4.7 Inch 16GB ROM+2GB-12MP+5MP...,55900,4.5,12.0
10,"Tecno Camon 15 Air (CD6) 6.6"" HD+ 3GB RAM+64GB...",58000,4.5,27.0
11,Tecno CAMON 12 PRO(CC9)-64GB ROM + 6GB RAM-6.4...,59000,4.6,86.0

In [ ]:
best_price.iloc[2,0]

'Oukitel C18 Pro 6.55" Android 9.0 (4GB RAM + 64GB ROM) 4 Rear Cameras 4000mAh Octa Core Face ID 4G Smartphone-BLACK'

##Insights

*	Requested the URLs for every required page on the websites.
*	Iterated through each page using a for loop, and scrape each phoneâ€™s information one by one.
*	Included a control loopâ€™s rate to avoid flooding the sites with requests.
*	Extracted, cleaned, stored the data set as panda dataframes and downloaded them as csv.
*	Performed a descriptive analysis after conditional slicing and grouping and the most suitable option was selected.


So, simplicity sometimes have the answer and other times a more complex approach will suffice but alas it is the user that decides based on available resources. 
Personally, I believe balance is key.